:root{--nav-width:1380px;--article-width:650px;--toc-width:260px}
.toc{margin:0 2px 20px;border:1px solid var(--border);border-radius:5px;padding:10px}
.toc-container.wide{position:absolute;height:95%;left:calc((var(--toc-width) + var(--gap)) * -1);top:calc(var(--gap) * 9.3);width:var(--toc-width);font-size:0.875rem}
.wide .toc{position:sticky;top:var(--gap);border:unset;border-radius:unset;width:100%;margin:0;border-right:1px solid var(--border)}
.toc details summary{cursor:zoom-in;padding:0 5px;font-size:1rem}
.toc details[open] summary{font-weight:500}
.toc-container.wide .toc .inner{margin:0}
.active{font-weight:600}
.toc ul{list-style-type:circle}
.toc .inner{margin:0;padding:10px 5px 0 25px;font-size:1rem}
.toc li ul{margin-inline-start:calc(var(--gap) * 0.5);list-style-type:none}
.toc li{list-style:none;font-size:0.875rem;padding-bottom:5px}
.toc li a{color:var(--secondary)}
.toc li a:hover{color:var(--secondary)}
body{counter-reset:h2}
h2{counter-reset:h3}
h3{counter-reset:h4}
h4{counter-reset:h5}
article[autonumbering] h2:before{counter-increment:h2;content:counter(h2) ". "}
article[autonumbering] h3:before{counter-increment:h3;content:counter(h2) "." counter(h3) " "}
article[autonumbering] h4:before{counter-increment:h4;content:counter(h2) "." counter(h3) "." counter(h4) " "}
article[autonumbering] .toc ul{counter-reset:item}
article[autonumbering] .toc li a:before{content:counters(item,".") " ";counter-increment:item}
.friendurl{text-decoration:none !important;color:black;box-shadow:none !important}
.myfriend{width:56px !important;height:56px !important;border-radius:50%!important;padding:2px;margin-top:20px !important;margin-left:14px !important;background-color:#fff}
.frienddiv{overflow:auto;height:100px;width:49%;display:inline-block !important;border-radius:5px;background:none;-webkit-transition:all ease-out 0.3s;-moz-transition:all ease-out 0.3s;-o-transition:all ease-out 0.3s;transition:all ease-out 0.3s}
.dark .frienddiv:hover{background:var(--code-bg)}
.frienddiv:hover{background:var(--theme);transition:transform 1s;webkit-transform:scale(1.1);-moz-transform:scale(1.2);-ms-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.1)}
.frienddiv:hover .frienddivleft img{transition:0.9s !important;-webkit-transition:0.9s !important;-moz-transition:0.9s !important;-o-transition:0.9s !important;-ms-transition:0.9s !important;transform:rotate(360deg) !important;-webkit-transform:rotate(360deg) !important;-moz-transform:rotate(360deg) !important;-o-transform:rotate(360deg) !important;-ms-transform:rotate(360deg) !important}
.frienddivleft{width:92px;float:left;margin-right:-5px}
.frienddivright{margin-top:18px;margin-right:18px}
.friendname{text-overflow:ellipsis;font-size:100%;margin-bottom:5px;color:var(--primary)}
.friendinfo{text-overflow:ellipsis;font-size:70%;color:var(--primary)}
@media screen and (max-width:600px){.friendinfo{display:none}
.frienddivleft{width:84px;margin:auto}
.frienddivright{height:100%;margin:auto;display:flex;align-items:center;justify-content:center}
.friendname{font-size:18px}
}